.header {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    padding: 15px 0;
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 70%;
  }
  &__link {
    color: $dark50;
    &-arrow {
      &::after {
        content: "expand_more";
        font-family: 'Material Icons';
        font-size: 24px;
        line-height: 0;
        position: relative;  
        top: 7px;  
      }
    }
  }
}