.header__wrapper
  img.header__logo(src="img/svg/logo.svg", alt="")
  .header__nav
    a.header__link(href="#") О нас
    a.header__link.header__arrow(href="#") Услуги
    a.header__link(href="#") Вакансии
    a.header__link(href="#") Новости
    a.header__link.header__arrow(href="#") Соглашения