.dropdown
  h3.dropdown__title
    |Dropdown
  .dropdown__field
    |Сколько гостей
  .dropdown__content
    ul.dropdown__list
      li.dropdown__li Взрослые
      li.dropdown__li Дети
      li.dropdown__li Младенцы
    .btn Применить