.copyright
    p.copyright__text Copyright © 2018 Toxin отель. Все права зачищены.
    .copyright__socialwrap
      img.copyright__social(src="../../../img/svg/twitter-logo.svg", alt="")
      img.copyright__social(src="../../../img/svg/facebook-logo.svg", alt="")
      img.copyright__social(src="../../../img/svg/instagram-logo.svg", alt="")