extends layouts/default
include helpers/mixins

block variables
  - const title = "gulp-pug-starter"

block content
  .container
    include ../blocks/modules/header/header
    include ../blocks/modules/footer/footer
    include ../blocks/modules/copyright/copyright

block scripts
  script(src="js/main.js")
  script(src="js/vendor.js")
  //- script(src="https://kit.fontawesome.com/36c8ef7472.js" crossorigin="anonymous")
