.footer
    .footer__desc
        img.footer__logo(src="img/svg/logo.svg", alt="")
        p.footer__text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
    ul.footer__nav
        li
            h3 навигация
        li О нас
        li Новости
        li Служба поддержки
        li Услуги
    ul.footer__nav
        li
            h3 о нас
        li О сервисе
        li Наша команда
        li Вакансии
        li Инвесторы
    ul.footer__nav
        li
            h3 Служба поддержки
        li Соглашения
        li Сообщества
        li Связь с нами
    .footer__desc
        h3 Подписка
        p.footer__text Получайте специальные предложения и новости сервиса